html, body, #root, .App, .bg, .card-deck {
    height: 100%
}

#mobile {
    background-image: url("../imgs/recycle-bg1.PNG");
    background-repeat: no-repeat;
}

#bg-bottom {
    background-image: url("../imgs/recycle-bg2.PNG");
    background-repeat: no-repeat;
}

/* breakpoints for displaying web and mobile */
@media only screen and (min-width: 600px) {
    #mobile {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    #web {
        display: none;
    }
}

/* breakpoints for background styling */
@media only screen and (max-height: 600px) {
    #mobile {
        background-position: -110vw -100vh;
    }

    #bg-bottom {
        background-position: -100vw -10vh;
    }
}

@media only screen and (max-width: 450px) and (min-height: 601px) {
    #mobile {
        background-position: -100vw -60vh;
    }

    #bg-bottom {
        background-position: -80vw 5vh;
    }
}

@media only screen and (min-width: 450px) and (max-width: 599px) {
    #mobile {
        background-position: -50vw -60vh;
    }

    #bg-bottom {
        background-position: -40vw 5vh;
    }
}

@media only screen and (min-width: 1600px) and (max-width: 1800px) {
    #details-container {
        margin-left: 15vw;
        margin-top: 5vh;
    }
}

#web h1 {
    font-size: 50px;
}

#web a {
    font-size: 3vh;
    color: #06413D;
}

#web a:hover {
    color: #18796A;
    cursor: pointer;
}

/* Pop up modal styling */
.my-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
  
.modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}