html, body, #root, .App, .bg, .card-deck {
    height: 100%
}

#mobile {
    background-image: url("../imgs/recycle-bg1.PNG");
    background-repeat: no-repeat;
}

#bg-bottom {
    background-image: url("../imgs/recycle-bg2.PNG");
    background-repeat: no-repeat;
}

/* breakpoints for displaying web and mobile */
@media only screen and (min-width: 600px) {
    #mobile {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    #web {
        display: none;
    }
}

/* breakpoints for background styling */
@media only screen and (max-height: 600px) {
    #mobile {
        background-position: -110vw -100vh;
    }

    #bg-bottom {
        background-position: -100vw -10vh;
    }
}

@media only screen and (max-width: 450px) and (min-height: 601px) {
    #mobile {
        background-position: -100vw -60vh;
    }

    #bg-bottom {
        background-position: -80vw 5vh;
    }
}

@media only screen and (min-width: 450px) and (max-width: 599px) {
    #mobile {
        background-position: -50vw -60vh;
    }

    #bg-bottom {
        background-position: -40vw 5vh;
    }
}

#web h1 {
    font-size: 50px;
}